<%= render 'layouts/icon' %>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback:"no_image.jpg", size:"300x300", class:"circle"%>
    </div>
    <div class="col-lg-8">
      <table class="show_table">
        <tr>
          <th class="text-r">名前：</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th class="text-r">年齢：</th>
          <td><%= @user.age %></td>
        </tr>
        <tr>
          <th class="text-r">レベル：</th>
          <td><%= @user.level %></td>
        </tr>
        <tr>
          <th class="text-r">目標：</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th class="text-r">登録日：</th>
          <td><%= @user.created_at.to_s(:datetime_jp) %></td>
        </tr>
      </table>
    </div>
  </div>
  <hr>
</div>
