<%= link_to "投稿する", new_post_path, class:"btn btn-primary" %>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback:"no_image.jpg", size:"60x60" %>
<br>
<%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback:"no_image.jpg", size:"500x500" %>


<p>名前：<%= @user.name %></p>
<p>年齢：<%= @user.age %></p>
<p>レベル：<%= @user.level %></p>
<p>目標：<%= @user.introduction %></p>
<p>登録日：<%= @user.created_at %></p>