<div class="col-lg-1 float-right mt-3 mr-4">
  <%= link_to user_path(current_user) do %>
    <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback:"no_image.jpg", size:"60x60" %>
  <% end %>
</div>
<div class="container form-margin">
  <%= form_with model:@post, local:true do |f| %>
    <table class="edit_table mx-auto">
      <tr>
        <th class="text-r">難易度：</th>
        <td><%= f.select :level, [["レベル1（中学）", "レベル1（中学）"], ["レベル2（中卒）", "レベル2（中卒）"],["レベル3（高校）","レベル3（高校）"],["レベル4（高卒）", "レベル4（高卒）"],["レベル5（大学）", "レベル5（大学）"], ["レベル6（研究者）", "レベル6（研究者）"],["レベル7（達人）","レベル7（達人）"]], { include_blank: '選択してください'}, { class: 'form-control' , required: true } %></td>
      </tr>
      <tr>
        <th class="text-r">分野：</th>
        <td><%= f.text_field :category, class:"form-control" %></td>
      </tr>
      <tr>
        <th class="text-r">問題：</th>
        <td><%= f.attachment_field :prob_image, placeholder:"問題を投稿" %></td>
      </tr>
      <tr>
        <th class="text-r">解答：</th>
        <td><%= f.attachment_field :ans_image, placeholder:"解答を投稿" %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "投稿", class:"btn btn-success float-right" %></td>
      </tr>
    </table>
  <% end %>
</div>